<ion-view view-title="Home">
  <ion-content class="padding">
    <h2 align="center">Welcome to my Ionic + AngularJS + Spring REST sample APP</h2>
    <h2 align="center">This sample app is an open source educational code</h2>
    <h2 align="center">From the code you will learn AngularJS and Ionic framework and Spring Boot</h2>
    <h2 align="center">Learn unit testing using Karma and Jasmin</h2>
    <h2 align="center">Learn how to create REST service using spring boot</h2>
    <h2 align="center">Learn how to call REST service from AngularJS</h2>
    <h2 align="center">Learn junit testing using Mockito with Java</h2>
    
  </ion-content>
</ion-view>
